body {
  background-image: url('./assets/c.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  align-content: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url('./assets/c.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    background-image: url('./assets/c.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
  }
}