.searchbox{
   text-align: center; 
    margin:0%;
  padding: 0%;
}

.searchbox h2{
    color:rgb(255, 255, 255);
    
}

.MuiInputLabel-root {
  color: white !important;
}

.MuiInputBase-input::placeholder {
  color: white !important;
}

.srcp{
  margin-top: 5px;
  padding: 0%;
}
